{% extends "base.html" %}

{% block header%}
    <div class="flex w-full text-center items-center justify-center">    
        {% include 'home/fragments/navbar.html' %}
    </div>
{% endblock header %}

{% block content %}
    <div class="relative flex w-full items-center justify-center overflow-hidden py-20 sm:py-32 lg:pb-32 xl:pb-36">
         {% include 'home/fragments/hero.html' %}
    </div>
    <section id="features" aria-label="Features for investing all your money" class="relative -mt-64 lg:-mt-52 bg-gray-800 py-20 sm:py-32">
        {% include 'home/fragments/features.html' %}
    </section>
    <section id="faqs" aria-label="Frequently asked questions" class="border-t border-gray-200 py-20 sm:py-32">
        {% include 'home/fragments/faqs.html' %}
    </section>
{% endblock content%}

{% block footer %}
    {% include 'home/fragments/footer.html' %}
{% endblock footer %}

