<div class="navbar max-w-7xl">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </div>
            <ul
                tabindex="0"
                class="menu menu-sm dropdown-content bg-gray-800 text-white rounded-md z-[1] mt-3 w-52 p-2 shadow">
                <li><a href="#features">Features</a></li>
                <li><a href="#faqs">FAQs</a></li>
            </ul>
        </div>
        <a hx-get="/" hx-target="body" hx-push-url="true" class="cursor-pointer">
            <img class="w-40" src="static/img/logos/logo_reboot_light.svg" alt="Reboot SaaS">
        </a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            <li><a href="#features">Features</a></li>
            <li><a href="#faqs">FAQs</a></li>
        </ul>
    </div>
    <div class="navbar-end gap-x-4">
        <a hx-get="/login" hx-target="body" hx-swap="innerHTML" hx-push-url="true" class="cursor-pointer hover:text-sky-600">Sign In</a>
        <a hx-get="/register" hx-target="body" hx-swap="innerHTML" hx-push-url="true" class="btn bg-sky-600 hover:bg-sky-500 text-white">Sign Up</a>
    </div>
</div>
