<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reboot SaaS {{ title_page }}</title>

    <!-- DaisyUI CDN -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    {% block style %}
    {% endblock style %}
</head>

<body hx-boost="true">
    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}

    <!-- Set default theme to light -->
    <script>
      document.documentElement.setAttribute('data-theme', 'light');
    </script>
</body>
</html>
